<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>283281344615-dlkilef3n67t6jfk93bg0sp6p3u85016.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOL0ixWsEmiWKRF0EY45xN2JEKIJ1etsY</string>
	<key>GCM_SENDER_ID</key>
	<string>283281344615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agamitha.epiquest</string>
	<key>PROJECT_ID</key>
	<string>epiquest-1e2c3</string>
	<key>STORAGE_BUCKET</key>
	<string>epiquest-1e2c3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283281344615:ios:f160d4e8c5e877b1402cc2</string>
</dict>
</plist>